body{
    background-color: rgba(255, 255, 255, 0.3); /* Color blanco con una opacidad del 50% */
    background-size: cover;
    background-image: url('https://img.freepik.com/vector-premium/salon-aseo-ilustracion-patron-transparente-vector-perros-fondo-animal-tienda-mascotas_682999-74.jpg?w=740');
      
  }
.cascading-right {
  margin:center;
}

@media (max-width: 991.98px) {
  .cascading-right {
    margin-right: 0;
  }
}
